@font-face{
    font-family: 'Avenir light';
    src: url(../font/Avenir-Light.ttf) format('truetype');
    font-style:normal;
}
@font-face{
    font-family: 'Avenir light';
    src: url(../font/Avenir-lightOblique.ttf) format('truetype');
    font-style:oblique;
}
@font-face{
    font-family: 'Avenir';
    src: url(../font/Avenir-book.ttf) format('truetype');
    font-style:normal;
}
@font-face{
    font-family: 'Avenir';
    src: url(../font/Avenir-bookOblique.ttf) format('truetype');
    font-style:oblique;
}
@font-face{
    font-family: 'Avenir roman';
    src: url(../font/Avenir-roman.ttf) format('truetype');
    font-style:normal;
}
@font-face{
    font-family: 'Avenir roman';
    src: url(../font/Avenir-romanOblique.ttf) format('truetype');
    font-style:oblique;
}
@font-face{
    font-family: 'Avenir medium';
    src: url(../font/Avenir-medium.ttf) format('truetype');
    font-style:normal;
}
@font-face{
    font-family: 'Avenir medium';
    src: url(../font/Avenir-mediumOblique.ttf) format('truetype');
    font-style:oblique;
}
@font-face{
    font-family: 'Avenir heavy';
    src: url(../font/Avenir-heavy.ttf) format('truetype');
    font-style:normal;
}
@font-face{
    font-family: 'Avenir heavy';
    src: url(../font/Avenir-heavyOblique.ttf) format('truetype');
    font-style:oblique;
}
@font-face{
    font-family: 'Avenir black';
    src: url(../font/Avenir-black.ttf) format('truetype');
    font-style:normal;
}
@font-face{
    font-family: 'Avenir black';
    src: url(../font/Avenir-blackOblique.ttf) format('truetype');
    font-style:oblique;
}
